/* general */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(185, 182, 182);
}

main {
    text-align: center;
}

/* nav */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
}

/* tarjetas */
.productos {
    width: 200px;
    border: 1px solid #333;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.productos img {
    width: 100%;
    height: auto;
}

.productos h3 {
    margin: 0;
    font-size: 16px;
}

.productos p {
    margin: 5px 0;
}

/* footer */
.footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.footer p {
    color: #fff;
    text-decoration: none;
}


.search-bar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  #searchInput {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
    width: 300px;
  }
  
  #searchButton {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #searchButton:hover {
    background-color: #333;
  }

.carrito {
    background-color: #cacaca;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .carrito h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .carrito ul {
    list-style: none;
    padding: 0;
  }
  
  .carrito li {
    margin-bottom: 5px;
  }
  
  #cartTotal {
    font-weight: bold;
  }
  